@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>In order to start managing your apartments, choose "Apartments" from navigation bar.</p>
</div>
