@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using CleanApartments.Common.Models;

@model List<Apartment>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Status</th>

        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApartmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <button type="button" id="cleanAparment" onclick="openApartmentDetails(this)" class="btn btn-dark" data-apartment="@item.ApartmentId">Clean Apartment</button>
            </td>
        </tr>
        }
    </tbody>
</table>